* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

body {
    padding   : 50px;
    text-align: center;
    background: url(../img/logo.jpg);
    font-size : 16px;
    color     : white;
}

ul.target {
    text-align: left;
}

ul.target li {
    line-height: 50px;
}

ul.target li a {
    color: white;
}