<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        h1 {
            text-align: center;
        }
        .box{
            width: 68%; margin: auto; padding: 20px; border: 1px solid gray;
        }
        .box::after{content: ''; display: block; clear: both;}
        .list {
            position: relative;
            margin: 30px; float: left; width: 218px; padding: 10px 20px; text-align: center; transition: all .3s;  border: 1px solid transparent;
        }
        .list:hover{ border: 1px solid #71AE35; border-radius: 10px; cursor: pointer;}
        .list i{ position: absolute; top: 2px; right: 2px; display: block; margin: auto; width: 30px; height: 30px; line-height: 30px; font-style: normal; font-size: 16px; text-align: center; color: white; background: #ff0098; border-radius: 50%;}
        .list img{ display: block; margin: auto; width: 100%; height: 180px; border-bottom: 1px solid #71AE35;   }
        .list b{ line-height: 50px; font-size: 18px; color: #71AE35;}
    </style>
</head>

<body>
    <h1>相册集</h1>
    <a href="/admin">后台管理</a>
    <hr>
    <br>
    <section class="box">
        <% for(var i = 0; i < boxArr.length; i++) { %>
            <div class="list">
                <i class="deldir" data-path="<%= boxArr[i] %>">x</i>
                <a href="/<%= boxArr[i] %>">
                    <img src="./img/f-icon.jpg" alt="">
                    <b><%= boxArr[i] %></b>
                </a>
            </div>
         <% } %>
    </section>

</body>
    <script src="/js/jquery.min.js"></script>
    <script>
        $(document.body).on('click', '.deldir', function() {
            let $this = $(this);
            $.get('/deldir/'+ $this.attr('data-path'), function(o){
                if(1 === o.code) {
                    $this.parents('.list').remove();
                }
            });
        });
  
    </script>
</html>