<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户管理</title>
    <link rel="stylesheet" href="static/css/bootstrap.css" />
    <link rel="stylesheet" href="static/css/base.css" />

    <style type="text/css">
        ul.target {
            text-align: left;
        }

        ul.target li {
            line-height: 50px;
        }
    </style>
</head>

<body>
    <%- include('../header/index.ejs', {title: '用户管理' }); %>
    <div class="container text-center">
        <ul class="target">
            <li><a href="/users/get?uid=123&age=456" target="_blank" rel="noopener noreferrer">Get ?& URL参数获取，@Query()</a></li>
            <li><a href="/users/getAll?uid=789&age=1011&name=沐枫" target="_blank" rel="noopener noreferrer">Get ?& URL所有参数获取，@Query()</a></li>
            <li><a href="/users/getOne/666" target="_blank" rel="noopener noreferrer">Get动态路由URL参数获取，@Param()</a></li>
            <li><a href="/users/getTwo/10086/10000" target="_blank" rel="noopener noreferrer">Get动态路由多个URL参数获取，@Param()</a></li>
            <li><a href="https://ejs.bootcss.com/#install" target="_blank" rel="noopener noreferrer">https://ejs.bootcss.com/#install</a></li>
            <li>&lt;% '脚本' 标签，用于流程控制，无输出。</li>
            <li>&lt;%_ 删除其前面的空格符</li>
            <li>&lt;%= 输出数据到模板（输出是转义 HTML 标签）</li>
            <li>&lt;%- 输出非转义的数据到模板</li>
            <li>&lt;%# 注释标签，不执行、不输出内容</li>
            <li>&lt;%% 输出字符串 '&lt;%'</li>
            <li>%&gt; 一般结束标签</li>
            <li>-%&gt; 删除紧随其后的换行符</li>
            <li>_%&gt; 将结束标签后面的空格符删除</li>
        </ul>
        <img width="100%" src="static/img/ejs.png" alt="ejs" />
        <% if (name) { %>
            <h2>
                <%= name %>，<%= age %>
            </h2>
        <% } %>
    </div>
</body>

</html>