<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nest-Ejs-MySQL</title>
    <link rel="stylesheet" href="static/css/bootstrap.css" />
    <style type="text/css">
        .logo{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 80px 0;
        }
         .logo img{
            width: 188px;
        }
        .nav{
            padding: 80px 0;
        }
    </style>
</head>

<body>
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <h1>Nest-Server</h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <h3>
                    <%= title %>
                </h3>
                <a href="https://www.nestjs.com.cn" target="_blank" rel="noopener noreferrer">Nest中文官网</a>、
                <a href="https://nestjs.com" target="_blank" rel="noopener noreferrer">Nest英文官网</a>
            </div>
        </div>
        <div class="row logo">
            <div class="col">
                <img src="/static/img/nest-logo.png" class="rounded" alt="nest" sizes="" srcset="" />
            </div>
            <div class="col">
                <img src="/static/img/ts-logo.webp" class="rounded" alt="ts" sizes="" srcset="" />
            </div>
            <div class="col">
                <img src="/static/img/mysql-logo.jpg" class="rounded img-thumbnail" alt="mysql" sizes="" srcset="" />
            </div>
            <div class="col">
                <img src="/static/img/ejs-logo.png" class="rounded" alt="ejs" sizes="" srcset="" />
            </div>
            <div class="col">
                <img src="/static/img/less-logo.png" class="rounded" alt="less" sizes="" srcset="" />
            </div>
            <div class="col">
                <img src="/static/img/bootstrap-icon.png" class="rounded" alt="bootstrap" sizes="" srcset="" />
            </div>
        </div>
        <div class="row">
            <div class="col nav">
                <a href="/admin">admin</a>、<a href="/users">users</a>、<a href="/news">news</a>、<a href="/bootstrap">bootstrap</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="/static/img/ApiRequest.png" class="img-fluid img-thumbnail" alt="" sizes="" srcset="" />
            </div>
        </div>
    </div>
</body>

</html>