<!DOCTYPE html>
<html lang="en">
  <head>
    {{include './components/mate.html' '用户登录'}}
    <style>
      h1{
        text-align: center;
      }
      form {
        margin: 50px auto;
        padding: 30px;
        width: 600px;
        border-radius: 8px;
        border: 1px solid gray;
      }
      button {
        font-size: 18px;
      }
    </style>
  </head>
  <body>
    <h1>用户登录</h1>
    <hr />
    <form action="/update" method="post">
      <p>账户：<input type="text" name="username" value="{{name}}" /></p>
      <p>账户：<input type="text" name="username2" value="<%=name%>" /></p>
      <p>密码：<input type="password" name="password" /></p>
      <p><button class="btn btn-success" type="submit">提 交</button></p>
    </form>
  </body>
</html>
