<header class="header">
  <nav id="nav">
    <a href="/admin/user">用户管理</a>
    <a href="/admin/news">新闻管理</a>
    <a href="/admin/banner">轮播图管理</a>
    <a href="/">前台首页</a>
    <!-- {{each $data}}
            <a href="{{$index}}"> {{$value}} </a> 
        {{/each}}  -->
  </nav>
</header>

<style>
  header.header {
    width: 100%;
    line-height: 60px;
    padding: 0 50px;
    border-bottom: 1px solid gray;
    background-color: gainsboro;
  }
  header.header a {
    display: inline-block;
    padding: 0 20px;
  }

  header.header a.active {
    color: white;
    background-color: purple;
  }
</style>

<script>
  $("#nav a").each((index, item) => {
    // if (location.pathname == $(item).attr("href")) {
    if (
      location.pathname.startsWith($(item).attr("href")) &&
      index !== $("#nav a").length - 1
    ) {
      $(item).addClass("active");
    }
  });
</script>
