<!-- Required meta tags -->
<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
/>

<!-- Bootstrap CSS -->
<link
  rel="stylesheet"
  href="/bootstrap/css/bootstrap.css"
  crossorigin="anonymous"
/>

<title>{{$data}}</title>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/js/jquery.js" crossorigin="anonymous"></script>
<script src="/js/popper.min.js" crossorigin="anonymous"></script>
<script src="/bootstrap/js/bootstrap.js" crossorigin="anonymous"></script>
