<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户管理</title>
    <link rel="stylesheet" href="static/css/base.css">
</head>

<body>
    <h1>
        Art-Template
    </h1>
    <hr>
    <ul class="target">
        <li><a href="https://ejs.bootcss.com/#install" target="_blank" rel="noopener noreferrer">https://ejs.bootcss.com/#install</a></li>
        <li>&lt;% '脚本' 标签，用于流程控制，无输出。</li>
        <li>&lt;%_ 删除其前面的空格符</li>
        <li>&lt;%= 输出数据到模板（输出是转义 HTML 标签）</li>
        <li>&lt;%- 输出非转义的数据到模板</li>
        <li>&lt;%# 注释标签，不执行、不输出内容</li>
        <li>&lt;%% 输出字符串 '&lt;%'</li>
        <li>%&gt; 一般结束标签</li>
        <li>-%&gt; 删除紧随其后的换行符</li>
        <li>_%&gt; 将结束标签后面的空格符删除</li>
    </ul>
    <% if (name) { %>
        <h2>
            <%= name %>
        </h2>
    <% } %>
    <h2>
        <%= age %>
    </h2>
    <img src="static/img/ejs.png" alt="ejs" />
</body>

</html>