<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        button {
            padding: 10px 20px;
            font-size: 18px;
        }
    </style>
</head>

<body>
    <a href="http://localhost:8080/api/v2/test/hello">GET请求测试</a>
    <button type="button" id="get-btn"> GET普通请求 </button>
    <button type="button" id="get-btn2"> GET动态请求 </button>
    <button type="button" id="post-btn"> POST请求 </button>
    <button type="button" id="post-btn2"> POST请求2 </button>
    <button type="button" id="post-btn3"> POST请求3 </button>
    <button type="button" id="post-btn4"> POST请求注册 </button>
    <h1 id="h1"></h1>
    <script>

        class Ajax {
            constructor({
                url = null,
                method = 'GET',
                type = null,
                data = null,
                parType = false,
                dataType = 'JSON',
                cache = true,
                async = true,
                timeout = 10000,
                beforeSend = null,
                success = null,
                error = null
            } = {}) {
                this.url = url;
                this.method = type === null ? method : type;
                this.isGet = /^(GET|HEAD|DELETE)$/i.test(this.method);
                this.data = data;
                this.form = new FormData();
                this.parType = parType;
                this.dataType = dataType;
                this.cache = cache;
                this.async = async;
                this.timeout = timeout;
                this.beforeSend = typeof beforeSend === 'function' ? beforeSend : new Function();
                this.success = typeof success === 'function' ? success : new Function();
                this.error = typeof error === 'function' ? error : new Function();
                this.Init();
            };

            GetSymol() {
                return -1 < this.url.indexOf('?') ? '&' : '?';
            }

            Cache() {
                (!this.cache) ? this.url += `${this.GetSymol()}v=${Math.random()}` : null;
            };

            FormatData() {
                if (({}).toString.call(this.data) === '[object Object]') {
                    if (0) {
                        console.log(Object.keys(this.data));
                        for (const key in this.data) {
                            if (this.data.hasOwnProperty(key)) {
                                this.form.append(key, this.data[key]);
                            }
                        };
                        this.data = null;
                    } else {
                        let obj = this.data, par = ``;
                        if (this.parType) {
                            for (let o in obj) {
                                if (obj.hasOwnProperty(o)) {
                                    par += `/${obj[o]}`;
                                }
                            }
                            this.data = par;
                        } else {
                            for (let o in obj) {
                                if (obj.hasOwnProperty(o)) {
                                    par += `${o}=${obj[o]}&`;
                                }
                            }
                            this.data = par.replace(/&$/g, '');
                        }
                    }
                }
            };

            CreactXhr() {
                if (window.ActiveXObject) {
                    try {
                        return new window.ActiveXObject("Msxml2.XMLHTTP");
                    } catch (e) {
                        return new window.ActiveXObject("Microsoft.XMLHTTP");
                    }
                } else if (window.XMLHttpRequest) {
                    try {
                        return new XMLHttpRequest();
                    } catch (e) {
                        return false;
                    }
                };
            };

            Init() {
                if (null !== this.data) {
                    this.FormatData();
                    if (this.isGet) {
                        if (this.parType) {
                            this.url += this.data;
                        } else {
                            this.url += this.GetSymol() + this.data;
                        }
                        this.data = null;
                    }
                };
                this.isGet ? this.Cache() : null;
                this.beforeSend();

                try {
                    fetch(this.url, {
                        // body: this.data || this.form,
                        body: this.data,
                        cache: 'no-cache',
                        headers: {
                            'Accept': 'application/json',
                            // 'Content-Type': 'application/json; charset=utf-8'
                            'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8'
                        },
                        method: this.method,
                        mode: 'cors', //请求的模式
                        // credentials: 'include' //为了在当前域名内自动发送 cookie ， 必须提供这个选项
                        redirect: 'follow',
                        referrer: 'no-referrer'
                    }).then(o => {
                        if (o.status >= 200 && o.status < 300) return o;
                        let err = new Error(o.statusText);
                        err.response = o;
                        throw err;
                    }).then(o => {
                        console.log(o)
                        this.success(JSON.stringify(o));
                        return o.json();
                    }).then(o => {
                        this.success(o);
                    }).catch(err => {
                        this.error(err);
                    });
                } catch (error) {
                    let xhr = this.CreactXhr();
                    xhr.timeout = this.timeout;
                    xhr.responseType = this.dataType.toUpperCase();
                    xhr.onreadystatechange = () => {
                        if (!/^[23]\d{2}$/.test(xhr.status)) {
                            this.error(xhr.statusText);
                            return false;
                        }
                        if (4 === xhr.readyState) {
                            let res = xhr.responseText;
                            try {
                                switch (this.dataType.toUpperCase()) {
                                    case 'TEXT':
                                    case 'HTML':
                                        break;
                                    case 'JSON':
                                        res = JSON.parse(res);
                                        break;
                                    case 'XML':
                                        res = xhr.responseXML;
                                        break;
                                };
                            } catch (err) {
                                this.error(err);
                            } finally {
                                this.success(res);
                            };
                        }
                    };
                    xhr.open(this.method, this.url, this.async);
                    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=utf-8");
                    // xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
                    xhr.onload = res => { };
                    xhr.ontimeout = res => { };
                    xhr.onerror = res => {
                        this.error(res)
                    };
                    // xhr.upload.onprogress = res => {};
                    xhr.send(this.data || this.form);
                };
            };
        };

        const host = 'http://localhost:8080/api/v2';

        document.querySelector('#get-btn').onclick = function () {
            new Ajax({
                type: 'GET',
                url: host + '/test/myapi5?id=123456',
                // url: host + '/test/myapi6?id=123456&name=沐枫&sex=男&age=28',
                success: function (data) {
                    console.log(JSON.stringify(data));
                    h1.innerHTML = JSON.stringify(data);
                }
            });
        };

        document.querySelector('#get-btn2').onclick = function () {
            new Ajax({
                type: 'GET',
                parType: 'dynamic',

                // url: host + '/test/myapi', 
                // data: {
                //     id: 123456
                // },

                // url: host + '/test/myapi2',
                // data: {
                //     id: 2018,
                //     pid: 666
                // },

                // url: host + '/test/myapi3',
                // data: {
                //     id: 123456
                // },

                url: host + '/test/myapi4',
                data: {
                    id: 888,
                    name: '沐枫',
                    sex: '男',
                    age: 28
                },

                success: function (data) {
                    console.log(JSON.stringify(data));
                    h1.innerHTML = JSON.stringify(data);
                }
            });
        };


        document.querySelector('#post-btn').onclick = function () {
            new Ajax({
                type: 'POST',
                url: host + '/test/submit',
                data: {
                    name: '沐枫',
                    age: 28,
                    job: 'Web全栈开发'
                },
                success: function (data) {
                    console.log(JSON.stringify(data));
                    h1.innerHTML = JSON.stringify(data);
                }
            });
        };

        document.querySelector('#post-btn2').onclick = function () {
            new Ajax({
                type: 'POST',
                url: host + '/test/submit2',
                data: {
                    name: '沐枫',
                    pwd: '123456',
                    age: 28
                },
                success: function (data) {
                    console.log(JSON.stringify(data));
                    h1.innerHTML = JSON.stringify(data);
                }
            });
        };

        document.querySelector('#post-btn3').onclick = function () {
            new Ajax({
                type: 'POST',
                url: host + '/test/submit3',
                data: {
                    id: 888,
                    name: '沐枫',
                    sex: '男',
                    age: 28
                },
                success: function (data) {
                    console.log(JSON.stringify(data));
                    h1.innerHTML = JSON.stringify(data);
                }
            });
        }; 
        
        document.querySelector('#post-btn4').onclick = function () {
            new Ajax({
                type: 'POST',
                url: host + '/user/regist',
                data: {
                    username: '沐枫',
                    password: '123456',
                    rePassword: '123456'
                },
                success: function (data) {
                    console.log(JSON.stringify(data));
                    h1.innerHTML = JSON.stringify(data);
                }
            });
        };
    </script>
</body>

</html>