<!DOCTYPE html>
<html lang="en">
  <head>
    {{include './components/mate.html' '新闻列表'}}

    <style>
      h1 {
        text-align: center;
      }
      form {
        margin: 50px auto;
        padding: 30px;
        width: 800px;
        border-radius: 8px;
        border: 1px solid gray;
      }
      button {
        font-size: 18px;
      }
      table {
        margin: auto;
        width: 1200px;
        text-align: center;
        border: 1px solid gray;
      }
      table tr th,
      table tr td {
        line-height: 36px;
        border: 1px solid gray;
      }
    </style>
  </head>
  <body>
    {{include './components/header.html' header}}
    <h1>新闻列表</h1>
    <hr />
    <section class="container">
      <div class="row text-right">
        <a href="/addNews" class="btn btn-success btn-lg">撰写新闻</a>
      </div>
      <br />
      <div class="row">
        <table class="table table-bordered table-striped table-hover">
          <thead class="thead-light">
            <tr class="bg-primary">
              <th scope="col">序号</th>
              <th scope="col">ID</th>
              <th scope="col">昵称</th>
              <th scope="col">性别</th>
              <th scope="col">年龄</th>
              <th scope="col">电话</th>
              <th scope="col">邮箱</th>
              <th scope="col">爱好</th>
              <th scope="col">操作</th>
            </tr>
          </thead>

          <tbody>
            {{each list}}
            <tr>
              <td scope="row">{{$index}}</td>
              <td>{{@$value._id}}</td>
              <td>{{$value.username}}</td>
              <td>{{$value.sex}}</td>
              <td>{{$value.age}}</td>
              <td>{{$value.phone}}</td>
              <td>{{$value.email}}</td>
              <td>{{$value.hobbys}}</td>
              <td>
                <a
                  href="/userInfo/{{@$value._id}}"
                  class="btn btn-primary edit-user"
                  >编辑</a
                >
                <button
                  data-id="{{@$value._id}}"
                  class="btn btn-danger del-user"
                >
                  删除
                </button>
              </td>
            </tr>
            {{/each}}
          </tbody>

          <tfoot>
            <tr>
              <td colspan="9">tfoot</td>
            </tr>
          </tfoot>
        </table>
      </div>
    </section>
    {{ include './components/footer.html' }}

    <script src="/js/jquery.js"></script>
    <script>
      $(document.body).on("click", ".del-user", function (e) {
        if (window.confirm("是否确认删除？")) {
          window.location.href = `api/delUser/${$(this)
            .attr("data-id")
            .replace(/\"/g, "")}`;
        }
      });
    </script>
  </body>
</html>
