<footer class="footer">
    <nav>
        {{each $data}}
            <a href="{{$index}}"> {{$value}} </a> 
        {{/each}} 
        <!-- <a href="#">首页</a>
        <a href="#">关于</a>
        <a href="#">新闻</a>
        <a href="#">产品</a> -->
    </nav>
</footer>

<style>
    footer.footer{
        width: 100%;
        line-height: 100px;
        text-align: center;
        border-top: 1px solid gray;
        background-color: gainsboro;
    }
    footer.footer a{
        padding: 0 20px;
    }
</style>