<header class="header">
    <nav>
        <a class="active" href="/admin/users">用户管理</a>
        <a href="/admin/news">新闻管理</a>
        <a href="/">前台首页</a>
    </nav>
</header>

<style>
    header.header{
        width: 100%;
        line-height: 60px;
        padding: 0 50px;
        border-bottom: 1px solid gray;
        background-color: gainsboro;
    }
    header.header a{
        display: inline-block;
        padding: 0 20px;
    }

    header.header a.active{
        color: white;
        background-color: purple;
    }
</style>