<!DOCTYPE html>
<html lang="en">
  <head>
    {{include '../components/mate.html' '用户详情'}}
    <style>
      .card-img{
        height: 100%;
      }
    </style>
  </head>

  <body>
    {{include '../components/header.html' header}}
    <section class="container">
      <br>
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://cdn.jsdelivr.net/npm/@bootcss/www.bootcss.com@0.0.33/dist/img/bootstrap-icons.png" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title">{{username}}</h3>
              <p class="card-text">{{age}}</p>
              <p class="card-text">{{phone}}</p>
              <p class="card-text">{{email}}</p>
              <p class="card-text">This is a wider card with supporting text </p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>
