<template>
    <section class="page">
        <h1>This is an {{name}} page</h1>
    </section>
</template>

<script>
export default {
    name: {{name}},
    components: {},
    data() {
        return {
            key: 0
        }
    },
    created () {
        
    },
    mounted () {
        
    },
    
    methods: {
        fun() {
            
        }
    },
}
</script>

<style lang="less" scoped>
    .page{
        box-sizing: border-box;
    }
</style>