<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Api文档说明</title>
    <link rel="stylesheet" href="static/css/bootstrap.css" />
</head>

<body>
    <%- include('../header/index.ejs', {title: 'Swagger Api文档生成' }); %>
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="static/img/swagger-logo.svg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">@nestjs/swagger</h5>
                            <a href="<%= npm %>" class="btn btn-primary">Go Npm -> @nestjs/swagger</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="static/img/swagger-logo.svg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">Swagger.io</h5>
                            <p class="card-text">API Development for Everyone.</p>
                            <a href="<%= url %>" class="btn btn-primary">Go Swagger.io</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <%- include('../footer/index.ejs'); -%>
</body>

</html>